/* tables */

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  caption-side: bottom;
  text-align: inherit;
}

th,
td {
  padding: var(--table-cell-padding-vertical)
    var(--table-cell-padding-horizontal);
  border-top: var(--table-cell-border-width) solid
    var(--table-cell-border-color);
  text-align: inherit;
  vertical-align: top;
}

thead th,
td {
  border-top: 0;
  border-bottom: var(--table-head-border-width) solid
    var(--table-cell-border-color);
  vertical-align: bottom;
}

tfoot th,
td {
  border-top: var(--table-foot-border-width) solid
    var(--table-cell-border-color);
  vertical-align: top;
}

th {
  background-color: var(--table-heading-background-color);
  font-size: var(--table-heading-font-size, 0.8rem);
  font-weight: var(--table-heading-font-weight);
  color: var(--table-heading-text-color);
}

tbody + tbody {
  border-top: var(
      --table-head-border-width,
      var(--table-cell-border-width, 1px)
    )
    solid var(--table-cell-border-color);
}

table caption {
  padding: var(--table-caption-padding-vertical) 0;
  font-weight: var(--table-caption-font-weight);
  color: var(--table-caption-text-color);
}
