---
import Layout from '../layouts/Layout.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome to Framework</title>
	</head>
	
	<body>
		<Layout>
			<h1>Framework</h1>
			<p>A simple framework to make life a little easier. Or not.</p>
			<p>Built with <a href="https://astro.build/">Astro</a>.</p>
		</Layout>
	</body>
</html>
