<aside>
    <header><h4>Framework</h4></header>
    <ul class="is-unstyled">
        <li><a href="/colors">Colors</a></li>
        <li><a href="/markdown">Markdown</a></li>
        <li><a href="/elements">HTML Elements</a></li>
    </ul>
</aside>

<style>
    header {
        padding: var(--space-sm);
        border-bottom: 1px solid var(--neutral-6);
    }

    ul {
        padding: var(--space-sm);
    }

    li + li {
        margin-top: var(--space-2xs);
    }
</style>