/* links */

a {
  background-color: transparent;
  text-decoration: var(--link-text-decoration);
  -webkit-text-decoration-skip: objects;
  color: var(--link-color);
  transition: color var(--speed, 0.1s) var(--easing, ease-out);
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--link-hover-color);
  }

  &:focus {
    outline: var(--outline-color, hsl(210, 100%, 85%)) solid
      var(--outline-width, 0.2rem);
  }

  &:active {
    color: var(--link-active-color);
  }

  &:visited {
    color: var(--link-visited-color);

    &:hover,
    &:focus {
      color: var(--link-visited-hover-color);
    }

    &:active {
      color: var(--link-visited-active-color);
    }
  }
}
